body {
  --color1: #61a4bc;
  --color2: #1a132f;
  --aqua3: mediumaquamarine;
  --color4: #bbeff8ce;
  --boxshadow: #e6e1e1ce;
}
.sp-font {
  font-family: "Oleo Script", cursive;
}
.logo {
  color: white;
  transition: linear 1s;
  font-family: "Oleo Script", cursive;
}
.logo:hover {
  background: linear-gradient(
    90deg,
    rgb(247, 64, 207) 0%,
    rgba(11, 113, 172, 0.966) 100%
  );
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.navbar {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 11%,
    rgba(100, 209, 78, 1) 98%
  );
  box-shadow: -1.6px 3px 4px rgb(201, 245, 224);
  
  position: sticky;
  top:0px;
  z-index: 2;
}
.headline {
  font-family: "Oleo Script", cursive;
  color: var(--aqua3);
  box-shadow: -1.6px 3px 10px var(--color4);
  border-radius: 0.5em;
  margin-bottom: 3vh;
}
.headline:hover {
  cursor: default;
}
.card {
  border-radius: 1em;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  box-shadow: -1.6px 3px 10px var(--boxshadow);
  z-index: 1;
}
.card:hover {
  transform: scale(1.01);
}
.card-img-top {
  border-radius: 1em 1em 0.1em 0.1em;
}
.page-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  color: white !important;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;
}
.nav-link:hover {
  background: linear-gradient(
    90deg,
    rgb(247, 64, 207) 0%,
    rgba(11, 113, 172, 0.966) 100%
  );
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;

  transform: scale(1.03);
}
.navbar-toggler {
  background-color: var(--color1) !important;
}
.btn-color {
  background-color: var(--color1);
  color: white;
}
